<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content class="body">
      <mat-toolbar color="primary" style="position: fixed;">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon" class="leftIcon">menu</mat-icon>
        </button>
        <div class="topNav">
          <span class="headerTitle noOutline" routerLink="/home">Video Game Store</span>
          <div *ngIf="!(isHandset$ | async)" routerLink="/home" class="noOutline" id="mainLogo">
            <mat-icon>videogame_asset</mat-icon>
          </div>
          <div class="topNavLinks">
            <!-- !(isHandset|async) && loggedUser put this when user is logged in -->
            <!-- !(isHandset|async) && !loggedUser put this when user is NOT logged in -->
            <a *ngIf="!(isHandset$ | async) " class="noOutline" mat-button routerLink="/vendingmachine"> Vending Machine </a>
            <a *ngIf="!(isHandset$ | async) " class="noOutline" mat-button routerLink="/login"> Log
              In</a>
            <a *ngIf="!(isHandset$ | async) " class="noOutline" mat-button routerLink="/register">Register </a>
            <button *ngIf="!(isHandset$ | async) " class="noOutline" mat-button [matMenuTriggerFor]="beforeMenu"
              >Account</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item routerLink="/account">{{account}}</button>
              <button mat-menu-item routerLink="/myvendingmachine">My Vending Machine</button>
              <button mat-menu-item (click)="logout()">Log out</button>
            </mat-menu>
          </div>
        </div>
  
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
    <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{hidden: !(isHandset$ | async)}" 
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/vendingmachine">Vending Machine</a>
        <a mat-list-item routerLink="/login">Log In</a>
        <a mat-list-item routerLink="/register">Register</a>
        <a mat-list-item routerLink="/account">Account</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
