.register-container {
  /* height: 100vh; */
  margin-top: 25%;
}
.register-title{
  text-align: center;
}
.register-link {
  margin-left: 5px;
}
form {
  margin: 40px;
}

.form-check-label {
  margin-left: 5px;
}