<div class="login-container">
  <h2 class="login-title">Login</h2>
  <form onsubmit="return false;">
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" class="form-control" name="usernameInput" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" name="passwordInput"[(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-success" (click)="login()">Submit</button>
  </form>
  <div class="d-flex justify-content-center links">
      Don't have an account?<a [routerLink]="" (click)="toRegister()"><span class="register-link">Sign Up</span></a>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#">Forgot your password?</a>
  </div>
</div>