.login-container {
  /* height: 100vh; */
  margin-top: 50%;
}
.login-title{
  text-align: center;
}
.register-link {
  margin-left: 5px;
}
form {
  margin: 40px;
}
.loginLoader{
  
  margin-top: 40%;
  text-align: center;
}