<div class="login-container"  *ngIf="!(displayLoginLoader | async)">
  <h2 class="login-title">Login</h2>
  <form onsubmit="return false;">
    <div class="alert alert-danger wrong-login alert-dismissible fade show" role="alert" *ngIf="invalidLogin" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      Invalid Username or Password
    </div>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" class="form-control" [class.is-invalid]="invalidLogin" name="usernameInput" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input [type]="passInputType" class="form-control" [class.is-invalid]="invalidLogin" name="passwordInput"[(ngModel)]="password">
      <div class="invalid-feedback" *ngIf="invalidLogin">
        Invalid Username or Password
      </div>
    </div>
    <div class="form-group">
      <input type="checkbox" class="password-check" id="passwordViewCheck" name="passwordViewCheck" (change)="togglePassView()">
      <label class="form-check-label" for="passwordViewCheck">Show Password</label>
    </div>
    <button type="submit" class="btn btn-success" (click)="login()">Submit</button>
  </form>
  <div class="d-flex justify-content-center links">
      Don't have an account?<a [routerLink]="" (click)="toRegister()"><span class="register-link">Sign Up</span></a>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#">Forgot your password?</a>
  </div>
</div>

<div class="loginLoader" *ngIf="displayLoginLoader | async">
  <div class="loadingio-spinner-blocks-qn75jsvav1"><div class="ldio-eqmkdf70m6i">
    <div style='left:52.75px;top:52.75px;animation-delay:0s'></div><div style='left:88.61999999999999px;top:52.75px;animation-delay:0.125s'></div><div style='left:124.49px;top:52.75px;animation-delay:0.25s'></div><div style='left:52.75px;top:88.61999999999999px;animation-delay:0.875s'></div><div style='left:124.49px;top:88.61999999999999px;animation-delay:0.375s'></div><div style='left:52.75px;top:124.49px;animation-delay:0.75s'></div><div style='left:88.61999999999999px;top:124.49px;animation-delay:0.625s'></div><div style='left:124.49px;top:124.49px;animation-delay:0.5s'></div>
    </div></div>
</div>