<div class="bg"></div>

<div class="inventoryTemplate">
    <div class="categoryDropdown">
        <select name="gameCategory" id="gameCategory">
            <option value="shooter">First Person Shooter</option>
        </select>
    </div>

  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1 h-100">
        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{card.title}}</h4>
          </mdb-card-title>
          <p>{{card.description}}</p>
        </mdb-card-body>
        <mdb-card-footer>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
        </mdb-card-footer>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>